<% if authenticated? %>
  <p>Hello, <%= current_account.name %> (<%= current_account.email %>)!</p>
  <p><%= link_to 'Logout', session_path, method: :delete %></p>
<% else %>
  <p><%= link_to 'Login', new_session_path %></p>
<% end %>