<!DOCTYPE html>
<html>
  <head>
    <title>RP (response_type=token+id_token)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>RP (response_type=token+id_token)</h1>
    <%= yield %>
  </body>
</html>
